.jumbotron {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url(../images/background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 105vh;
    margin: 0 auto;

}


.container {
    position: relative;
}
